[submodule "trustFundBaby/lib/forge-std"]
	path = trustFundBaby/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "trustFundBaby/lib/openzeppelin-contracts"]
	path = trustFundBaby/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
